# dependencies
/node_modules

# production build output
/dist

# development server pid file
/server.pid

# local env files
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# npm lock file
/package-lock.json

# yarn lock file
/yarn.lock

# logs
/logs
*.log

# vscode settings
/.vscode/settings.json

# mac files
.DS_Store

# vim files
*.swp
*.swo
